

.App {
  text-align: center;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.textarea-container {
  display: flex;
  padding: 5px;
}


.form-select{
 min-height: 40px;
}



table td{
font-size: 16px;
}


.options{
border-radius: 5px;
border-style: none;
background-color: transparent;
font-size: 16px;
color: rgb(97, 97, 97);
}

.acciones{
  border-radius: 5px;
  border-style: none;
  background-color: transparent;
  font-size: 23px;
  margin-right: 5%;
  color: rgb(97, 97, 97);
  transition: 1s;
  }
  .acciones:hover{
    color: rgb(0, 0, 0);
    transform: scale(1.4) rotate(0.02turn);
    transition: 1s;
    }
    .acciones:disabled{
      transition: 0s;
      opacity: 0;
      }


    .buscador_admin{
      margin-right: 10px;
font-size: 16px;
background-color: white;
border-radius: 5px;
border-style:solid;
border-color: rgb(201, 201, 201);
min-width: 30vh;
border-width: 2px;
transition: 1s;
text-transform: uppercase;
    }  

.inputbus{
  padding: 5px 5px 5px 5px;
  width: 80%;
  margin-right: 10px;
  height: 100%;
  border-style: none;
  outline: none;
}
input[type="search"]::-webkit-search-cancel-button {
  color: rgb(58, 58, 58); /* Cambia el color del icono a rojo (puedes usar cualquier color que desees) */
  cursor: pointer; /* Cambia el cursor al puntero cuando se pasa sobre el icono */
}

.buscador_admin:hover{
  border-color: rgb(70, 70, 70);
  transition: 1s;
}
    
.outputred{
  margin-top: 5%;
  padding: 10px;
  color: rgb(83, 0, 0);
  width: 100%;
  font-weight: bold;
  text-align: center;
  background-color: rgb(255 160 160);
  border-style:outset;
  border-color: rgb(83, 0, 0);
  border-width: 2px 0px 0px 0px;
}
.Datetime-header{
  background-color: #161616;
  min-height: 3%;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  flex-direction:inherit;
  font-size: calc(10px + 2vmin);
  position: sticky;
}

.pagination-list{

}
.pagination-list button{
 font-size: 14px;
 border-style: none;
 font-weight: bold;
 border-radius: 5px;
 padding: 5px;
}

.pagination-list span{
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  border-color: #a3a3a3;
  border-radius: 5px;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
 }

.Date-text{
  color: white;
}


.textarea-auto-resize {
  resize: vertical;
  overflow: auto;
}



.menu {
  display: grid;
  grid-gap: 10px;
}

.option {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
}



.logo img {
  width: auto;
  height: 75px;
  align-content: baseline;
}

.separator {
  width: 8px;
  height: 20px;
  color: rgb(255, 255, 255);
  margin: 0 10px;
}

.Logo-BT{
  height: 8vmin;
  position: sticky;
  align-self: center;
  padding: 0%;
}

.Login-main{
margin: auto;
}

.DateTime{
  text-align: center;
  justify-self: end;
  color: rgb(255, 255, 255);
  position:static;
  font-weight: 600;
  font-size: 15px;
}


.logo{
  align-self: center;

}

.options a {
  margin-right: 10px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.1s;
}

.options a :hover{
  color: rgb(110, 110, 110);
  transition: 0.1s;
}
.links:hover{
  color: rgb(110, 110, 110);
  transition: 0.1s;
}

.links{
  color: white;
  transition: 0.1s;
}


a:visited {
  color: white;
  text-decoration: underline;
  font-size: smaller;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body{
  background: #6a11cb;
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)); 
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)); 
  min-height:fit-content;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 85vh;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  
}

.App-header {
  background-color: #202530;
  min-height: 3%;
  display: flex;
  height: 11vh;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-direction:inherit;
  font-size: calc(10px + 2vmin);
}

.App-footer{
  background-color: #202530;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 10vh;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form-control-mt-1-date{
  width: 15px;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96vw;
  height: auto;
  margin: auto;
}

.Main{
  padding-top: 5%;
  padding-left: 1%;
  height: 700px;
  max-height: 800px;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  

}

.section{
  color: #ffffff;
}

.Auth-form-MainMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 45px;
  width: auto;
  height: auto;
  margin: auto;
}

.Auth-form-container-Main{
  border-radius: 25px;

}

.Auth-form-Main {
  width: 720px;
  
  margin-bottom: 10px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: rgb(196, 196, 196);
  padding: 10%;
  max-height:55vh;
  box-shadow: 1px -2px 26px 10px rgba(0,0,0,0.42);
}

.Auth-form-Guion {
  height: auto;
  width: 80vw;
  position: static;
  min-height: 70vh;
  max-height: 80vh;
  box-shadow: 1px -2px 26px 10px rgba(0,0,0,0.42);
  padding-top: 30px;
  overflow-y: auto;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: #e7e7e7;
}



.Auth-form {
  width: 420px;
  margin-top: -100px;
  margin-bottom: 10px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: #e7e7e7;
}



/* Menu Sign In */

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }



/* SEARCHBAR STYLE */

/* .Auth-form-searchbar{
  background-color: #c9c9c9;
  width: 798px;
  
} */

.input-search{
  margin: 0;
  font-family: inherit;
  margin-left: 5px;
  font-size: medium;
  text-transform: uppercase;
  height: 20px;
  width: 170px;
  border-radius: 5px;
  border-style: none;
  padding: 8px;
}

.input-search-admin{
  margin: 0;
  font-family: inherit;
  margin-left: 5px;
  font-size: medium;
  text-transform: uppercase;
  height: 20px;
  width: 170px;
  margin-right: 15px;
}

.select-search{
  width: 100px;
  font-family: inherit;
  margin-left: 5px;
  height: 20px;
}

.Row-searchbar{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px; /* Separación entre botones */
  display: flex;
  margin-bottom: -5px; /* Espacio entre filas */
  margin-top: -15px;
  padding: 5px;
  font-size: medium;
  justify-content: center;
}

.form-group {
  display: flex;
  align-items: center;
}

label {
  flex: 1;
  margin-right: 10px;
  text-align: right;
}

select {
  flex: 1;
  height: 20px;
  outline: none; /* Evitar el resaltado predeterminado en otros navegadores */
}

.button-searchbar{
  height: 20px;
  font-size: medium;
}

.btn-btn-info{
  height: 20px;
  background-color: cornflowerblue;

}

option{
  font-size: small;
}







/* MODALS STYLE */

.modal-content {
  /* position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto; */
  background-color: #e7e7e7;
  color: #333; /* Cambia el color del texto aquí */
  border: 1px solid #ccc; /* Cambia los bordes aquí */
  /* background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0; */
}

.modal-body-table {
  position: relative;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
  overflow-y: auto;
  
  max-height: 700px;
}

.Auth-form-table {
  min-width: 80vw;
  min-height: 60vh;
  max-height: 65vh;
  overflow-y: auto;
  position: static;
  margin-top: 5vh;
  margin-bottom: 10px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  background-color: #e7e7e7;
  -webkit-box-shadow: 1px -2px 26px 10px rgba(0,0,0,0.42);
  -moz-box-shadow: 1px -2px 26px 10px rgba(0,0,0,0.42);
  box-shadow: 1px -2px 26px 10px rgba(0,0,0,0.42);
}

.Auth-form-PDFViewer {
  min-width: 70vw;
  min-height: 60vh;
  height: 140vh;
  max-height: 205vh;
  overflow-y: auto;
  position: static;
  margin-top: 5vh;
  margin-bottom: 10px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  background-color: #e7e7e7;
  -webkit-box-shadow: 1px -2px 26px 10px rgba(0,0,0,0.42);
  -moz-box-shadow: 1px -2px 26px 10px rgba(0,0,0,0.42);
  box-shadow: 1px -2px 26px 10px rgba(0,0,0,0.42);
}

.Auth-form-searchbar {
  width: 800px;
  height: 80px;
  max-height: 550px;

  align-self: center;
  margin: auto;
  position: static;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  background-color: #e7e7e7;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.Auth-form-subtitle{
  text-align: center;
  font-size: smaller;
  font-weight: normal;

}

.Auth-form-escaleta{
  width: 90vw;
  height: auto;
  max-height: 75vh;
  margin-top: 1%;
  margin-bottom: 10px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: #e7e7e7;
  position: static;
  overflow-y: auto;



}
.indicacion{
  background-color: rgb(180, 180, 180);
  font-weight: bold;
}


.nota-esca{
  background-color: #e0e0e0;
}

.Auth-form-Search{
  width: 650px;
  margin-top: -100px;
  margin-bottom: 10px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;

}

.check-box-nota{
  font-size: 30px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.check-box-nota:hover{
 transform: scale(1.1);
 transition: 0.5s;
 background-color: rgb(199, 199, 199);
}



label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}


/* Botones CSS */

button.btn.btn-light{
  font-size: 30px;
  font-weight: 500;
  background-color: rgb(43, 110, 255);
  border-color: none;
  padding: 10px;
  border: none;
  justify-content: center;
  display: flex;
  margin-bottom: 10px;
  color: #ffffff;
}

button.btn.btn-light:hover{
  background-color: rgb(180, 23, 23);
}

.Menu-form{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; 


}


.HelpTexts{
  position: static;
}

.textIntroduction{
  align-content: baseline;
  text-align: left;
  font-size: smaller;
  color: #ffffff;
}

.FinalIntroduction{
  font-size: larger;
  color: #ffffff;

}

.HelpMenu {

  padding-top: 95px;
  padding-bottom: 95px;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  position: sticky;
  background-color: #333;
  color: #fff;
  padding-top: 20px;
  display: flex;
  flex-direction: column;

}

/* Estilos del título del HelpM.HelpMenu */
.HelpMenu .title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos de la lista del menú */
.HelpMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilos de los elementos del menú */
.HelpMenu li {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.HelpMenu li:hover {
  background-color: #555;
}

/* Estilos del ícono del menú */
.HelpMenu li .icon {
  margin-right: 10px;
}

/* Estilos del texto del menú */
.HelpMenu li .text {
  font-size: 1.2rem;
}

/* Estilos del elemento activo del menú */
.HelpMenu li.active {
  background-color: #555;
}

/* Estilos del ícono del elemento activo */
.HelpMenu li.active .icon {
  color: #fff;
}

/* Estilos del texto del elemento activo */
.HelpMenu li.active .text {
  color: #fff;
}




.Row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px; /* Separación entre botones */
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Espacio entre filas */
}


.Row-Date{
  font-size: medium;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px; /* Separación entre botones */
  display: flex;
  position: inherit;
  justify-content: space-between;
  margin-bottom: -10px; /* Espacio entre filas */
}


.Grid{
  padding-left: 12px;

}

/* Formato de tablas */

table.table{
  --bs-table-bg: transparent;
  font-size: 16px;
  width: 100%;
  vertical-align: top;
  border-radius: 50px;
  min-height: 35vh;
  margin: auto;
}



.Table-form{
  width: 1200px;
  margin-top: -100px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 5%;
  padding-bottom: 20px;
  background-color: rgb(196, 196, 196);
  padding: 10%;

}

.Button-form{
  justify-content: left;
  margin-right: 5%;
  justify-content: center;
  
}

.btn{
  margin-right:10px;
}

.h3 h3 {
  font-size: calc(1.3rem + .6vw);
  font-weight: 800;
}

.Text-helper{
  font-size: large;

}

.buttons-th{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button-form{
  margin-right: 0%;
  margin-left: 18px;
  display: flex;
}

.TextSample{
width: 600px;

}

/* DRAG AND DROP STYLE */

.example-parent {
  border: 2px solid #DFA612;
  color: black;
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
}

.example-origin {
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
}

.example-draggable {
  background-color: #4AAE9B;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.example-dropzone {
  background-color: #6DB65B;
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
}


/*   Drag and Drop style*/


.dnd {
  list-style: none;
  width: 1000px;
  min-height: 200px;
  margin: auto;
  align-items: start;
  position: relative;
  margin-left: -125px;
}
.dnd li {
  cursor: move;
  background-color: rgb(192, 192, 192);
  color: #000000;
  padding: 3px;
  font-size: smaller;
  margin-bottom: 1px;
  transition: all 0.2s;
}
.dnd:hover {
  background-color: rgb(206, 206, 206);
}
.dragging-table {
  border: 2px dashed #ccc;
  opacity: 0.7;
  /* Agrega otros estilos cuando se está arrastrando */
}




/* Dashboard style */


.Dashboard {
  align-self: start;
  background-color: #0E0F25;
  min-width: 8px;
  color: #ffffff;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  min-height: fit-content;
  font-size: smaller;
}


.widget {
  background-color: #0b0c26;
  padding: 10px;
}

.widget:hover{
  background-color: #585968;
}


.MenuHeader{
  background-color: #dddddd;
  min-height: 8%;
  width: 160vh;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: sticky;
  border-radius: 0px 0px 5px 5px;
}

/* CELDAS DE EXCEL */

.excel-cell-input {
  border: 1px solid #365204;
  padding: 5px;
  border-style: dashed;
  border-width: 2px;
  font-size: 14px;
  width: 800px;
  height: 150px;


}

.Row-Guion{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  max-height: inherit;
}

tbody{
  overflow-y: auto;
}


.HelpMenu {
    background-color: #000a1e;
    min-height: 8%;
    width: 296px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    align-self: baseline;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

h1.TitleHelp{
  font-size: 75px;
  text-align: left;
  color: #ffffff;
  text-shadow:  1px 1px 8px black;
  

}

p{

  text-shadow: 1px 1px 3px black;
}

.horizontal-list  {
  list-style: none;
  padding: 2;
  margin: 0;
  display: flex;
}

.horizontal-list li {
  margin-right: 10px;
}

/* .ReactModalPortal {
  position: fixed;
  inset: 0px;
  background-color: rgba(64, 63, 63, 0.75);
} */

.modal-content-notas{
  position: relative;
    display: flex;
    flex-direction: column;
    width: 860px;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: #e7e7e7;
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    margin-left: -170px;
}

.modal-title{
  justify-content: baseline;
  text-align: left;
  font-size: larger;
}


.Main-Button{
  min-width: 7vw;
  min-height: 10vh;
 
  background-color: #dfdfdf;
  color: rgb(63, 63, 63);
  transition: 0.5s;
  padding: 0.6vw;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color:#a1a1a1 ;


}

.Main-Button:hover{
  transition: 0.5s;
  transform: scale(1.05);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0 15px 30px -5px;
}

.Redaccion_Delete{
border-style: none;
background-color: #dc3545;
max-height: 4vh;
padding: 10px;
position:sticky;
color: white;
font-size: 10px;
justify-items: center;
align-items: center;
border-radius: 10px;
vertical-align: top;
}


.tabla-notaStyle table{
  width: 100%;
  table-layout: fixed;
  user-select: none;
  border-collapse: separate;
  border-spacing: 10px;
  outline: none;
}

.tabla-notaStyle table tr.selected{
  background-color: rgb(190, 190, 190);
}

*, ::after, ::before {
  box-sizing: border-box;
  outline: none;
}

.tabla-notaStyle table td{
  flex: 1;
  resize: none;
  min-height: 5vh;
  border: 1px solid #365204;
  padding: 3vh;
  border-style: dashed;
  border-width: 2px;
  font-size: 14px;
  text-align: justify;
}


.tabla-imprimir table{
  width: 100%;
  table-layout: fixed;
  resize: none;
}

.tabla-imprimir table td{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 2vh;
  resize: none;
  text-align: justify;
}
.no-redac{
  font-weight: bold;
}


.tabla-armado {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 2px 5px;

}

.tabla-armado th, td {
  padding: 15px;
  border-bottom: 1px solid #dddddd;
  text-align: center;
  cursor: pointer;
}

.tabla-armado th {
  background-color: #f2f2f2;
  font-size: 16px;
}

.tabla-armado tr.dragged-over {
  background-color: #f8f8f8;
}

.tabla-armado tr.grabbed {
  animation: scaleUp 0.3s ease;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
}

@keyframes scaleUp {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.05);
  }
}